@font-face {
  font-family: "iconfont"; /* Project id 3791296 */
  src: url('iconfont.woff2?t=1669348917766') format('woff2'),
       url('iconfont.woff?t=1669348917766') format('woff'),
       url('iconfont.ttf?t=1669348917766') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-duibi:before {
  content: "\e607";
}

.icon-tubiao-zhexiantu:before {
  content: "\eb96";
}

.icon-shujufenxi-baobeifenxi:before {
  content: "\e600";
}

.icon-github:before {
  content: "\e673";
}

.icon-blog:before {
  content: "\eaf9";
}

.icon-ditu:before {
  content: "\e620";
}

.icon-position:before {
  content: "\e60b";
}

.icon-quanping:before {
  content: "\e615";
}

.icon-shanchu:before {
  content: "\e74b";
}

.icon-shuaxin:before {
  content: "\e782";
}

.icon-diqiuquanqiu:before {
  content: "\e76c";
}

.icon-weixing:before {
  content: "\e608";
}

.icon-map-ruler:before {
  content: "\ea07";
}

