#app,
body,
html,
.el-aside,
.el-container,
.home-container {
  height: 100%;
  margin: 0;
  padding: 0;
}
/* #popup {
  border: 1px solid #409eff;
}

#mean,
#time,
#trend,
#timeLine,
#contrast,
#contrast_world {
  border: 1px solid #409eff;
  border-radius: 10px;
} */
* {
  font-family: "Noto Sans SC", "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
