#app,
body,
html,
.el-aside,
.el-container,
.home-container {
  height: 100%;
  margin: 0;
  padding: 0;
}
/* .baseLayerClass {
  filter: grayscale(100%) sepia(50%) invert(80%) saturate(300%);
} */
.reciprocalLegend {
  border: 1px solid #409eff;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
}
