#chart {
	width: 100%;
	height: 100%;
}
.el-card__body {
	height: 80%;
}
/* 下侧窗口动画 */
.result-open {
	animation: result-open-Y 0.75s !important;
}
.result-close {
	animation: result-close-Y 0.75s !important;
	transform: translateY(100%);
}
/* 右侧窗口动画 */
.open-card-X {
	animation: result-open-X 0.75s !important;
}
.close-card-X {
	animation: result-close-X 0.75s !important;
	transform: translateX(100%);
}
/* 背景透明度 */
#popup,
#contrast_world,
#contrast_area,
#timeLine,
#contrast {
	background-color: rgba(255, 255, 255, 0.85);
}
