#chart {
  width: 100%;
  height: 100%;
}
.el-card__body {
  height: 80%;
}
.result-open {
  animation: result-open 0.75s !important;
  opacity: 1;
}
.result-close {
  animation: result-close 0.5s !important;
  transform: translateY(100%);
  opacity: 0;
}
.select-span {
  height: 33px !important;
  display: block;
  float: left;
  line-height: 33px;
}

/* 指数结果与全球指数页面窗口 */
#selectRow {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #409eff;
  border-radius: 8px;
  margin: 0 10px;
}
#trend {
  border-radius: 10px;
  position: absolute;
  z-index: 10;
  width: 100%;
  bottom: 10px;
  box-shadow: 2px 2px 3px rgb(0 0 0 / 30%);
}
#show-trend {
  position: absolute;
  z-index: 10;
  bottom: 92px;
  left: 20px;
}
.box-card-trend {
  height: 80px;
  border-radius: 20px;
}
.open_trend {
  animation: open_trend 0.75s !important;
}
.close_trend {
  animation: close_trend 0.75s !important;
  transform: translateY(92px);
}
@keyframes open_trend {
  from {
    transform: translateY(92px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes close_trend {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(92px);
  }
}

/* 指数均值与区域指数页面窗口 */
#mean {
  position: absolute;
  z-index: 10;
  width: 100%;
  bottom: 0;
}
#show-mean {
  position: absolute;
  z-index: 10;
  bottom: 452px;
}
.box-card-mean {
  height: 450px;
}
.open_mean {
  animation: open-mean 0.75s !important;
}
.close_mean {
  animation: close-mean 0.5s !important;
  transform: translateY(452px);
}
@keyframes open-mean {
  from {
    transform: translateY(452px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes close-mean {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(452px);
  }
}
/* 比较窗口 */
#show-contrast {
  position: absolute;
  z-index: 10;
  bottom: 100px;
  right: 0;
}
#contrast {
  position: absolute;
  width: 500px;
  height: 300px;
  right: 0;
  bottom: 100px;
}
.open-contrast {
  animation: open-contrast 0.75s !important;
}
.close-contrast {
  animation: close-contrast 0.75s !important;
  transform: translateX(100%);
}

@keyframes open-contrast {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes close-contrast {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
